@media screen and (min-width: 1024px){
    h1 {
        font-size: 70px;
        font-weight: 500;
    }

    h2 {
        font-size: 30px;
    }

    p, li {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 50px;
        font-weight: 500;
    }

    h2 {
        font-size: 15px;
    }

    p, li {
        font-size: 10px;
    }
}