/* most large screen */
@media screen and (min-width: 1280px){
    h1 {
        font-size: 70px;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    h2 {
        font-size: 30px;
        font-weight: 800;
    }

    p, li {
        font-size: 20px;
    }

    .grid-col-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 10px;
    }
}

/* pc portable*/
@media screen and (min-width: 1024px) and (max-width: 1279px){
    h1 {
        font-size: 70px;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    h2 {
        font-size: 28px;
        font-weight: 800;
    }

    p, li {
        font-size: 18px;
    }

    .grid-col-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 10px;
    }
}

/* Tablette */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 50px;
        font-weight: 500;
    }

    h2 {
        font-size: 18px;
        font-weight: 800;
    }

    p, li {
        font-size: 15px;
    }
}

/* smartphone */
@media screen and (max-width: 767px) {
    h1 {
        font-size: 25px;
        font-weight: 500;
    }

    h2 {
        font-size: 14px;
        font-weight: 800;
    }

    p, li {
        font-size: 12px;
    }

    .grid-row-3 {
        grid-template-rows: repeat(3, minmax(0, 1fr));
        gap: 10px;
    }
}

@font-face {
    font-family: 'Irish Grover';
    src: url('assets/fonts/IrishGrover-Regular.ttf');
}

@font-face {
    font-family: 'Merienda';
    src: url('assets/fonts/Merienda-VariableFont_wght.ttf');
}

:root{
    --nb-buttons: 1;
}

h1 {
    font-family: 'Irish Grover';
}

h2, p, li {
    font-family: 'Merienda';
}

.grid2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}