.contact-container {
    width: 60%;
    padding-top: 5em;
}

.contact-content-container {
    border: solid 1px;
    border-radius: 20px;
    background-color: bisque;
    padding: 5em;
    padding-top: 0;
}

.contact-list {
    display: flex;
    column-gap: 15em;
}

.flex-contact-list {
    display: flex;
    flex-direction: column;
}

.flex-contact-list-title {
    display: flex;
    flex-direction: row;
    height: 10px;
}

.contact-title-item {
    padding-left: 2em;
    margin-top: 0;
    font-weight: bold;
}