.parcours-container {
    display: flex;
    justify-content: center;
    width: 60%;
    padding-top: 5em;
}

.parcours-content-container {
    border: solid 1px;
    border-radius: 20px;
    padding: 5em;
    padding-top: 0;
    background-color: bisque;
}

ul {
    list-style: none;
}